body {
	font-family: "helvetica", sans-serif;
	background: url(img/stripes-light.png);
	font-size: 20px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
}

header {
	background:#8d8d8d;
	opacity: 0.8;
	border-bottom: 2px solid #002faf;
	min-height: 120px;
}

.container {
	width: 80%;
	margin: auto;
	
}

.logo {
	font-size: 40px;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: 2px;
	font-weight: 600;
	float:left;
	min-width:261px;
	margin:10 0 20 0;
	padding:10px;
	background: #ffffff;
	border-radius: 20px; 
	
}

.logo:hover {
	cursor: default;
	-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
	box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
	transition: all 0.3s cubic-bezier(.42, 0, .15, .99);
}

.tuning {
	color:#ff9200;
}

.logo:hover .tuning {
	color:#002faf;
	transition: all 0.3s cubic-bezier(.42, 0, .15, .99);
}

.tuning:hover {
	color:#002faf;
	transition: all 0.3s linear;
}

nav {
	float:right;
}

.rozwin {
	float: left;
	margin-top:35px;
	position:relative;
}

.rozwin a {
	text-decoration: none;
	color:#ff9200;
	text-transform: uppercase;
	margin-right: 0px;
	padding:10px;
	letter-spacing: 1px;
/*	border:1px solid red;*/
}

.rozwijanaLista {
	position:absolute;
  margin-top:6px;
	width:100%;
	z-index:100;
	display:none;
}

.rozwijanaLista a {
	color:#000;
/*	border: 1px solid blue;*/
	display:block;
}

.rozwin a:hover {
	color:#002faf;
}

.rozwin:hover .rozwijanaLista {
	display:block;
	background: #e1e1e1;
	-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
	box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.46);
}

.rozwijanaLista a:hover{
	background: #bdbdbd;
	color:#002faf;
}

.resztaMenu {
	float: left;
	margin-top:35px;
}

.resztaMenu a {
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding:10px;
	letter-spacing: 1px;
}

.resztaMenu a:hover {
	color:#002faf;
}
